.panda-bg-information{
    background-color: #fcebe9;
}
.catagories img{
    width: 100px;
}
.watch-bg{
    background-color: orange;
}
.bag-bg{
    background-color: orchid;
}
.shoe-bg{
    background-color: blue;
}
.panda-btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}